h1
{
	color:red; 
	font-size: 40px;
}
.body_backgorund {
	background-image: url("https://png.pngtree.com/thumb_back/fh260/background/20200714/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
	background-position: center;
	background-size: cover;
}

#myCanvas{
	border-width: 10px; 
	background-color: white;
	border-style: ridge;

}